# DIY
.DS_Store
*.log
._*
.vs

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran Geodule files
*.Geod
*.sGeod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# obj folder, .vs folder, bin folder
obj
.vs
bin
*.un
*~
